{#- For name header -#}
#ifndef DNN_HPP
#define DNN_HPP

{#- For libraries #}
{% for lib in libraries %}
#include <{{ lib }}>
{%- endfor %}

{% for func in functions %}
{{ func }}
{% endfor %}


#endif /* DNN_HPP */