#ifndef ENV_LAYER_H
#define ENV_LAYER_H

#include <stdint.h>

#define ENV_SIZE_X {{ size_x }}
#define ENV_SIZE_Y {{ size_y }}
#define ENV_NB_OUTPUTS {{ nb_outputs }}

#define ENV_DATA_UNSIGNED {{ is_unsigned }}

#define ENV_OUTPUTS_SIZE (ENV_NB_OUTPUTS*ENV_SIZE_X*ENV_SIZE_Y)

#define NETWORK_TARGETS 1
//Output targets network dimension definition:
static unsigned int OUTPUTS_HEIGHT[NETWORK_TARGETS] = {1};
static unsigned int OUTPUTS_WIDTH[NETWORK_TARGETS] = {1};
static unsigned int NB_OUTPUTS[NETWORK_TARGETS] = {1000};
static unsigned int NB_TARGET[NETWORK_TARGETS] = {1000};
static unsigned int OUTPUTS_SIZE[NETWORK_TARGETS] = {(OUTPUTS_WIDTH[0]*OUTPUTS_HEIGHT[0])};
typedef int32_t Target_0_T;
typedef Target_0_T Target_T;


#endif // ENV_LAYER_H
