{#- For libraries #}

#include <stdint.h>

#include "network/rescaling.hpp"

// Custom headers
{%- for header in headers %}
#include "{{ header }}"
{%- endfor %}

static {{input_t}} mem[MEMORY_SIZE];

{# Forward function #}
void model_forward(const {{input_t}}* {{inputs}}, {{output_t}}* {{outputs}})
{
    {% for action in actions %}
    {{ action }}
    {%- endfor %}
}